<div class="panel panel-default">
    <div class="panel-heading">Thông tin phần mềm</div>
    <div class="panel-body">
        <p><strong>Hệ thống quản trị nội dung Symfony 3 CMS</strong></p>
        <p><strong>Phiên bản</strong> : {{ app_ver }}</p>
        <p><strong>Nền tảng</strong> : <a href="http://symfony.com/" target="_blank">Symfony Framework</a></p>
        <p><strong>Phát triển bởi</strong> : Nguyễn Như Tuấn</p>
        <p><strong>Email</strong> : <a href="mailto:tuanquynh0508@gmail.com">tuanquynh0508@gmail.com</a></p>
        <p><strong>Skype | Github | Yahoo</strong> : tuanquynh0508</p>
        <p><strong>Tel</strong> : <a href="tel:+84.903258221">+84.903258221</a></p>
        <p><strong>Homepage</strong> : <a href="http://i-designer.net" target="_blank">http://i-designer.net</a></p>
    </div>
    <div class="panel-footer text-right">
        <a href="http://symfonycms.i-designer.net/guild/manual" target="_blank"><i class="fa fa-youtube-play"></i> Hướng dẫn sử dụng</a>
    </div>
</div>