<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/favicon.ico">
        <title>Symfony 3 CMS - Version {{ app_admin_ver }}</title>
        {% include 'TNQSoftCommonBundle:Layout:css.html.twig' %}
        {% include 'TNQSoftAdminBundle:Layout:css.html.twig' %}
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% include 'TNQSoftAdminBundle:Partials:nav.html.twig' %}

        {% if block('breadcrumb') %}
            <div class="container-fluid">
                {% block breadcrumb %}{% endblock %}
            </div>
        {% endif %}

        {% block body %}{% endblock %}

        <footer>
            <p>&copy; {{ "now"|date("Y") }} <a href="http://i-designer.net" target="_blank">I-Designer</a>.</p>
            <p>Symfony 3 CMS - Version {{ app_admin_ver }}</p>
        </footer>

        {% include 'TNQSoftAdminBundle:Common:Modal/delete_confirm.html.twig' %}

        {% include 'TNQSoftCommonBundle:Layout:js.html.twig' %}
        {% include 'TNQSoftAdminBundle:Layout:js.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
