{% extends 'TNQSoftAdminBundle:Layout:layout.html.twig' %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <p><strong>Liên kết nhanh</strong></p>
                <ul class="dashboard-quick-menu clearfix">
                    {#<li class="col-xs-4 col-sm-2">#}
                        {#<a href="{{ path('admin_banner_list') }}">#}
                            {#<i class="fa fa-sliders"></i>#}
                            {#<span>Cấu hình</span>#}
                        {#</a>#}
                    {#</li>#}
                    {% include 'TNQSoftAdminBundle:Common:Button/quickLink.html.twig'
                    with {
                        'moduleEnabled': componentEnabled.banner,
                        'modulePath': 'admin_banner_list',
                        'moduleIcon': 'fa fa-extend-banner',
                        'moduleName': 'Banner',
                    }
                    %}

                    {% include 'TNQSoftAdminBundle:Common:Button/quickLink.html.twig'
                    with {
                        'moduleEnabled': componentEnabled.menu,
                        'modulePath': 'admin_menu_list',
                        'moduleIcon': 'fa fa-extend-menu',
                        'moduleName': 'Menu',
                    }
                    %}

                    {% include 'TNQSoftAdminBundle:Common:Button/quickLink.html.twig'
                    with {
                        'moduleEnabled': componentEnabled.page,
                        'modulePath': 'admin_page_list',
                        'moduleIcon': 'fa fa-extend-website',
                        'moduleName': 'Trang tĩnh',
                    }
                    %}

                    {% include 'TNQSoftAdminBundle:Common:Button/quickLink.html.twig'
                    with {
                        'moduleEnabled': componentEnabled.news_category,
                        'modulePath': 'admin_news_category_list',
                        'moduleIcon': 'fa fa-extend-tree',
                        'moduleName': 'Danh mục Tin',
                    }
                    %}

                    {% include 'TNQSoftAdminBundle:Common:Button/quickLink.html.twig'
                    with {
                        'moduleEnabled': componentEnabled.news,
                        'modulePath': 'admin_news_list',
                        'moduleIcon': 'fa fa-extend-news',
                        'moduleName': 'Tin tức',
                    }
                    %}

                    {% include 'TNQSoftAdminBundle:Common:Button/quickLink.html.twig'
                    with {
                        'moduleEnabled': componentEnabled.partner,
                        'modulePath': 'admin_partner_list',
                        'moduleIcon': 'fa fa-extend-partner',
                        'moduleName': 'Đối tác',
                    }
                    %}

                    {% include 'TNQSoftAdminBundle:Common:Button/quickLink.html.twig'
                    with {
                        'moduleEnabled': componentEnabled.product_category,
                        'modulePath': 'admin_product_category_list',
                        'moduleIcon': 'fa fa-extend-tree',
                        'moduleName': 'Danh mục SP',
                    }
                    %}

                    {% include 'TNQSoftAdminBundle:Common:Button/quickLink.html.twig'
                    with {
                        'moduleEnabled': componentEnabled.product,
                        'modulePath': 'admin_product_list',
                        'moduleIcon': 'fa fa-extend-product',
                        'moduleName': 'Sản phẩm',
                    }
                    %}

                    {% include 'TNQSoftAdminBundle:Common:Button/quickLink.html.twig'
                    with {
                        'moduleEnabled': componentEnabled.sale,
                        'modulePath': 'admin_sale_list',
                        'moduleIcon': 'fa fa-percent',
                        'moduleName': 'Khuyến mại',
                    }
                    %}

                    {% include 'TNQSoftAdminBundle:Common:Button/quickLink.html.twig'
                    with {
                        'moduleEnabled': componentEnabled.testimonial,
                        'modulePath': 'admin_testimonial_list',
                        'moduleIcon': 'fa fa-extend-comment',
                        'moduleName': 'Phản hồi',
                    }
                    %}

                    {% include 'TNQSoftAdminBundle:Common:Button/quickLink.html.twig'
                    with {
                        'moduleEnabled': componentEnabled.photo,
                        'modulePath': 'admin_photo_category_list',
                        'moduleIcon': 'fa fa-extend-camera',
                        'moduleName': 'Photos',
                    }
                    %}

                    {% include 'TNQSoftAdminBundle:Common:Button/quickLink.html.twig'
                    with {
                        'moduleEnabled': true,
                        'modulePath': 'admin_change_password',
                        'moduleIcon': 'fa fa-extend-key',
                        'moduleName': 'Đổi mật khẩu',
                    }
                    %}

                    {% include 'TNQSoftAdminBundle:Common:Button/quickLink.html.twig'
                    with {
                        'moduleEnabled': true,
                        'modulePath': 'logout',
                        'moduleIcon': 'fa fa-sign-out',
                        'moduleName': 'Thoát',
                    }
                    %}
                </ul>
            </div>

            <div class="col-xs-12 col-sm-4">
                {% include 'TNQSoftAdminBundle:Partials:admin_info.html.twig' %}
            </div>

        </div>

    </div>
    <!-- /container -->
{% endblock %}
