{% extends 'TNQSoftAdminBundle:Layout:layout.html.twig' %}
{##############################################################################}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-home"></i> Quản trị</a></li>
    <li><a href="{{ path('admin_page_list') }}">Trang tĩnh</a></li>
    <li class="active">Thêm mới</li>
</ol>
{% endblock %}
{##############################################################################}
{% block body %}
    <div class="container-fluid">
        <div class="page-header">
            <h1>Trang tĩnh
                <small>thêm mới</small>
            </h1>
        </div>

        {% include 'TNQSoftAdminBundle:Page:_form.html.twig' with {'form': form} %}
    </div>
    <!-- /container -->
{% endblock %}
