<a href="{{ path(actionEdit, {'id': record.id }) }}" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Sửa">
    <i class="fa fa-pencil"></i>
</a>
<a href="{{ path(actionDelete, {'id': record.id }) }}" class="btn btn-danger btn-link-delete" data-toggle="tooltip" data-placement="top" title="Xóa">
    <i class="fa fa-trash-o"></i>
</a>