{% extends 'TNQSoftAdminBundle:Layout:layout.html.twig' %}
{##############################################################################}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-home"></i> Quản trị</a></li>
    <li><a href="{{ path('admin_user_group_list') }}">User Group</a></li>
    <li class="active">Cập nhật</li>
</ol>
{% endblock %}
{##############################################################################}
{% block body %}
    <div class="container-fluid">
        <div class="page-header">
            <h1>User Group
                <small>cập nhật</small>
            </h1>
        </div>

        {% include 'TNQSoftAdminBundle:Security:Group/_form.html.twig' with {'form': form} %}
    </div>
    <!-- /container -->
{% endblock %}
