{% extends 'TNQSoftAdminBundle:Layout:layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="page-header">
            <h1>Tin tức
                <small>thêm mới</small>
            </h1>
        </div>

        {% include 'TNQSoftAdminBundle:News:_form.html.twig' with {'form': form} %}
    </div>
    <!-- /container -->
{% endblock %}
